{% extends 'Layout/page.html.twig' %}

{% block title %}Login - My-Admin{% endblock %}

{% block content %}
    <div class="container">
    <div class="card form-box">
        <div class="card-header">Login</div>
        <div class="card-body">
        {% if error %}
                    <div class="alert alert-danger" role="alert">{{ error }}</div>
                {% endif %}
            <form action="/login" method="post">
                <div class="mb-3">
                    <label for="email" class="form-label">Email</label>
                    <input type="text" class="form-control" name="email" id="email" autocomplete="off" required>
                </div>
                <div class="mb-3">
                    <label for="password" class="form-label">Password</label>
                    <input type="password" class="form-control" name="password" id="password" autocomplete="off" required>
                </div>
                <button type="submit" class="btn btn-success" name="submit">Login</button>
            </form>
        </div>
    </div>
</div>

 <script>
        $(document).ready(function () {
            $('#loginForm').submit(function (event) {
                event.preventDefault();

                $('#emailError').text('');

                var email = $('#email').val();
                if (!/\S+@\S+\.\S+/.test(email)) {
                    $('#emailError').text('Invalid email format.');
                } else {
                    this.submit();
                }
            });
        });
    </script>

{% endblock %}
